body {
    background-color: #edb601; /* 1. Цвет фона */
    margin: 0;
    font-family: Arial, sans-serif; /* Шрифт для всего текста */
}
@font-face {
    font-family: 'Futurespore'; /* Имя вашего шрифта */
    src: url('19846.otf') format('truetype'); /* Путь к вашему .ttf файлу */

}
@font-face {
    font-family: '1'; /* Имя вашего шрифта */
    src: url('18094.ttf') format('truetype'); /* Путь к вашему .ttf файлу */

}
@font-face {
    font-family: '2'; /* Имя вашего шрифта */
    src: url('16873.otf') format('truetype'); /* Путь к вашему .ttf файлу */

}
@font-face {
    font-family: '3'; /* Имя вашего шрифта */
    src: url('16874.ttf') format('truetype'); /* Путь к вашему .ttf файлу */

}
.container {
    max-width: 1440px; /* 2. Ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    background-color: #edb601; /* 1. Цвет фона */
    padding: 20px;
}

.content {
    font-family: 'YourFontName', Arial, sans-serif; /* 3. Подключение кастомного шрифта */
}
.minicontent {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
    font-family: '1';
    text-align: center; /* Выравнивание по центру */
}

.minicontent2 {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
    font-family: '2';
    text-align: justify; /* Выравнивание по ширине */
}

.minicontent3 {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
    font-family: '3';
    text-align: left; /* Выравнивание по левому краю */
}
ul {
    list-style-type: none; /* 4. Убираем маркеры списка */
    text-align: center;
}

a {
    text-decoration: none; /* 4. Убираем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* 4. Цвет ссылок */
    text-align: center;
}

h2 {
    text-align: center; /* 5. Выравнивание заголовков по центру */
    font-size: 70px;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center; /* 5. Выравнивание заголовков по центру */
    font-family: 'Futurespore';
    font-size: 100px;
    margin-top: 50px;
}
p {
    /* text-align: justify; 5. Выравнивание текста по ширине */
    font-size: 30px;
}

img {
    border-radius: 10px; /* 7. Закругленные края для изображений */
    height: 300px;

}

strong {
    font-weight: bold; /* 8. Жирное начертание через CSS свойство */
}
