body {
    background-color: #edb601; /* 1. Цвет фона */
    margin: 0;
    font-family: Arial, sans-serif; /* Шрифт для всего текста */
}

.container {
    max-width: 1440px; /* 2. Ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    background-color: #edb601; /* 1. Цвет фона */
    padding: 20px;
}

.content {
    font-family: 'YourFontName', Arial, sans-serif; /* 3. Подключение кастомного шрифта */
}
.minicontent {
    background-color: #ffffff;
    border-radius: 10px;
}
ul {
    list-style-type: none; /* 4. Убираем маркеры списка */
}

a {
    text-decoration: none; /* 4. Убираем подчеркивание у ссылок */
    color: rgb(48, 22, 177); /* 4. Цвет ссылок */
}

h2 {
    text-align: center; /* 5. Выравнивание заголовков по центру */
}

p {
    text-align: justify; /* 5. Выравнивание текста по ширине */
}

img {
    border-radius: 10px; /* 7. Закругленные края для изображений */
    height: 350px;
}

strong {
    font-weight: bold; /* 8. Жирное начертание через CSS свойство */
}
