html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
  color: green;
  text-decoration: underline;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: fall 2s ease-out infinite;
}

@keyframes fall {
  0% {
      transform: translateY(-100vh);
  }
  50% {
      transform: translateY(0);
  }
  51% {
      transform: translateY(-50vh);
  }
  52% {
      transform: translateY(0);
  }
  53% {
      transform: translateY(-25vh);
  }
  100% {
      transform: translateY(0);
  }
}
