html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}
.flex-container {
  display: flex;
}

.column {
  flex: 1; /* Равномерное распределение пространства внутри flex-контейнера */
  display: flex;
  flex-direction: column;
}

.column:nth-child(1) article:nth-child(1),
.column:nth-child(1) article:nth-child(7),
.column:nth-child(1) article:nth-child(9) {
  order: 1; /* Первая колонка, порядковый номер 1 */
}

.column:nth-child(2) article:nth-child(2),
.column:nth-child(2) article:nth-child(8),
.column:nth-child(2) article:nth-child(10) {
  order: 2; /* Вторая колонка, порядковый номер 2 */
}

.column:nth-child(3) article:nth-child(3),
.column:nth-child(3) article:nth-child(6),
.column:nth-child(3) article:nth-child(5),
.column:nth-child(3) article:nth-child(4) {
  order: 3; /* Третья колонка, порядковый номер 3 */
}