html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
article-container {
  display: flex;
  flex-wrap: wrap;

}
.column {
  flex: 1; /* Равномерно распределяем место между колонками */
}
article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
  flex: 1 0 30%; /* Устанавливаем ширину блоков */

}


/* Управление порядком статей */
article:nth-child(1) {
  order: 1; /* Поместить первую статью в первую колонку */
}

article:nth-child(7) {
  order: 2; /* Поместить седьмую статью в первую колонку */
}

article:nth-child(9) {
  order: 3; /* Поместить девятую статью в первую колонку */
}

article:nth-child(2) {
  order: 4; /* Поместить вторую статью во вторую колонку */
}

article:nth-child(8) {
  order: 5; /* Поместить восьмую статью во вторую колонку */
}

article:nth-child(10) {
  order: 6; /* Поместить десятую статью во вторую колонку */
}

article:nth-child(3) {
  order: 7; /* Поместить третью статью в третью колонку */
}

article:nth-child(6) {
  order: 8; /* Поместить шестую статью в третью колонку */
}

article:nth-child(5) {
  order: 9; /* Поместить пятую статью в третью колонку */
}

article:nth-child(4) {
  order: 10; /* Поместить четвертую статью в третью колонку */
}